/* ===============================
   SLIDING TEXT / PREMIUM BANNER
================================ */

.premium-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: #454343;
  color: #ffffff;
  font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  border-radius:10px;
}

.premium-banner p {
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}
