.notification-container {
    padding: 10px;
    max-width: 600px;
    margin: auto;

}

.notification-card {
    display: flex;
    background: #fff;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 6px #00000015;
}

.notification-icon {
    font-size: 28px;
    margin-right: 15px;
}

.notification-content h3 {
    margin-top: 18px;
    font-size: 18px;
    font-weight: 600;

}

.notification-content p {
    margin: 3px 0;
    color: #555;
}

.time {
    font-size: 13px;
    color: #888;
}

.messages {
    align-items: center;
    margin-top: 40px;
    color: blue;
}